body {
	font-family: sans-serif;
}

.container {
	padding: 16px 128px 16px 128px;
}

.flex {
	display: flex;
}

.justify-between {
	justify-content: space-between;
}

.gap-nav {
	gap: 20px;
}

.align-center {
	align-items: center;
}

.decoration-none {
	text-decoration: none;
	color: black;
}

.my-breadcrumb {
	margin: 32px 0 32px 0;
}

.flex-col{
	flex-direction: column;
}

