<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Details Product</title>
		<link rel="stylesheet" href="../css/stye.css" />
		<style>
			.coba {
				justify-content: space-between;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="flex justify-between">
				<a href="./index.html">
					<img src="../../assets/logo.png" alt="" />
				</a>
				<div class="flex gap-nav align-center">
					<div>Home</div>
					<div>Categories</div>
					<div>Rewards</div>
					<img src="../../assets/line.png" alt="" style="height: 32px" />
					<a href="#" class="decoration-none flex align-center gap-nav">
						<img src="../../assets/user_pc.png" alt="" />
						<div>Hi, Angga</div>
					</a>
					<img src="../../assets/shopping 1.png" alt="" />
				</div>
			</div>
			<div class="flex gap-nav my-breadcrumb">
				<div style="color: gray">Home</div>
				<div style="color: gray">&raquo;</div>
				<div class="">Product Details</div>
			</div>
				<div class="flex">
				<img  src="../../assets/produk0.png" alt="" style="height: 400px; width: 600px;border-radius: 10px;">
				<div class="flex flex-col">
					<img  src="../../assets/produk1.png" alt="" style="height: 90px; width: 180px;border-radius: 10px;margin: 0 15px 15px 15px ;">
					<img  src="../../assets/produk2.jpg" alt="" style="height: 90px; width: 180px;border-radius: 10px;margin: 0 15px 15px 15px ;">
					<img  src="../../assets/produk3.png" alt="" style="height: 90px; width: 180px;border-radius: 10px;margin: 0 15px 15px 15px ;">
					<img  src="../../assets/produk4.jpg" alt="" style="height: 90px; width: 180px;border-radius: 10px;margin: 0 15px 15px 15px ;">
				</div>
			</div>
		</div>
	</body>
</html>
